* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.News{
  max-width: 80rem;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article{
  display: flex;
  gap:3rem;

  padding: 2rem;
  border-radius: 11px;
  box-shadow: 3px 3px 20px rgb(164, 164, 164);
}

img {
  display: block;
  width: 25rem;
}

.article__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__topic {
  font-size: 1rem;
  color: rgb(124, 124, 124);
  box-shadow: inset 1px 1px 2px rgba(100,100,100,.8);
  width: fit-content;
  padding: 5px;
}

.article__title {
  font-size: 1.8rem;
  font-weight: 600;
}

.article__byline{
  font-style: italic;
}

.contd:link, .contd:visited{
  display: block;
  text-decoration: none;
  padding: .5rem 1rem;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgba(6, 120, 251, 0.5);
  width: fit-content;
  transition: all .7s;
}

.contd:visited, .contd:hover {
  background-color: rgba(6, 120, 251, 0.9);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  border: 2px solid rgb(3, 3, 125);
  border-radius: 11px;
}

.topic {
  display: inline-block;
  width: fit-content;
  padding: 5px 10px;
  background-color: rgba(6, 120, 251, 0.807);
  color: white;
  border-radius: 11px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 1rem auto;
  max-width: 80rem;
  padding: .5rem;
  border: 2px solid rgb(3, 3, 125);
  border-radius: 11px;
  color: rgb(3, 3, 125);
}